* {
    max-width: 100vw !important;
}

.nav-link {
    line-height: 6vh !important;
}

.content {
    display: flex;
    margin-top: 12vh !important;
}

.date {
    float: right;
}

.article-image {
    max-width: 30vw !important;
    height: auto;
}
.img-wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 2vh;
}
figcaption {
    margin-top: 0.8vh;
}
.formula {
    text-align: center;
}
.formula-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.yes-visible {
    display: block !important;
    visibility: visible !important;
}
.not-visible {
    display: none;
}

blockquote {
    border-left: solid 6px #7b7b7b;
    padding: 20px;
    margin-left: 15px !important;

    font-size: 1rem;
    line-height: 1.2rem;
}