:root {
    --accent-color: #08A4BD;
    --accent-color-transluscent: #08a5bd77;
}

@media only screen and (max-width: 730px) {
    body .img-right {
        float: none;
        margin: auto;
        margin-top: 20px;
        display: block;
        max-width: none;
        width: 80%;
    }
    body .button-color {
        color: black;
    }
}
@media only screen and (max-width: 774px) {
    body #highlight-3::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 122px;
        height: 40px;
        background-color: var(--accent-color-transluscent);
        transform: translateY(32px) translateX(-3px);
    }
}

body {
    padding: 0;
    margin: 0;
}
sup {
    font-size: 0.7rem;
}

/* styling for header and elements within it */
.header {
    text-align: center;
    padding: 17vh 8vh 17vh 8vh;
    background-color: black;
    max-width: 100vw;
    overflow-x: hidden;

    /* text styling */
    color: white;    
}
.arrow {
    margin-top: 4vh;
    transition: transform 300ms;
}
.arrow:hover {
    transform: translateY(8px);
}
.title {
    font-size: 6vh;
    font-family: 'Teko', sans-serif;
    line-height: 4vh;
    margin-bottom: -2vh;
}
    /* moving title text */
    .header-ethics {
        transform: translateX(-4%);
    }
    .header-biotech {
        transform: translateX(3.5%);
    }
.subheading {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
}
.button {
    padding: 9px 16px 9px 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    transition: color 300ms;
    transition: background-color 300ms;
    
    font-size: 1rem;
    font-family: 'Manrope', sans-serif;
}
.button-color {
    background-color: var(--accent-color);
}
.button:hover {
    color: white;
    background-color: black;
    box-shadow: inset 0px 0px 0px 1px white;
    box-sizing: border-box; 
}
#quiz-button {
    margin-bottom: 0;
    padding: 9px 18px 9px 18px;
}

/* main page content styling */
.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
h1.content-heading {
    font-family: 'Teko', sans-serif;
    font-size: 4rem;
    margin-bottom: -2vh;
}
.highlight {
    position: relative;
}
/* highlights */
    #highlight-1::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 130px;
        height: 40px;
        background-color: var(--accent-color-transluscent);
        transform: translateY(32px) translateX(-3px);
    }
    #highlight-2::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 112px;
        height: 40px;
        background-color: var(--accent-color-transluscent);
        transform: translateY(32px) translateX(-3px);
    }
    #highlight-3::before {
        content: "";
        position: absolute;
        z-index: -1;
        width: 237px;
        height: 40px;
        background-color: var(--accent-color-transluscent);
        transform: translateY(32px) translateX(-3px);
    }

.content > p {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
ul > li {
    font-family: 'League Spartan', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5rem;
}
.img-right {
    margin: 30px 20px 10px 20px;
    float: right;
    border-style: none;
    border-radius: 5px;
    max-width: 30%
}

/* footer styling */
footer {
    height: 12vh;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20vh;

    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 12vh;
}
